* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(79, 79, 202);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: red;
}
